<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Code Scanner. An android app to scan and create codes(barcodes, QR codes, etc)
  ~ Copyright (C) 2020 Lucius Chee Zihan
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published
  ~ by the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.czlucius.scan">
    <!-- Permissions go here: -->
    <uses-permission
        android:name="android.permission.CAMERA"
        android:description="@string/description_permission" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_code_scanner"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_code_scanner_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter
                android:label="@string/intent1_name">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT"/>
                <!--For scanning codes from image-->
                <data android:mimeType="image/*"/>
            </intent-filter>

            <intent-filter
                android:label="@string/intent2_name">
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <!--For creation of codes from data-->
                <data android:mimeType="text/*"/>

            </intent-filter>

        </activity>


        <provider
            android:authorities="com.czlucius.scan.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/image_provider"/>
        </provider>


    </application>

</manifest>